{{- if eq .chezmoi.os "darwin" -}}
#!/bin/bash

brew bundle --no-lock --file=/dev/stdin <<EOF
brew "zoxide"
brew "fzf"
brew "jordanbaird-ice"
#cask "{program} "
cask "iterm2"
cask "visual-studio-code"
EOF
{{ end -}}
