{{ if eq .chezmoi.os "linux" -}}
#!/bin/sh
sudo apt-get -y install zsh vim fzf
chsh -s $(which zsh)
{{ end -}}

# Make the font directory if it doesn't exist
if [! -d "~/.fonts" ]; then
	mkdir -p ~/.fonts
fi

# Install fonts
curl -L https://github.com/romkatv/powerlevel10k-media/raw/master/MesloLGS%20NF%20Regular.ttf --output ~/.fonts/'MesloLGS NF Regular.ttf'
curl -L https://github.com/romkatv/powerlevel10k-media/raw/master/MesloLGS%20NF%20Bold.ttf --output ~/.fonts/'MesloLGS NF Bold.ttf'
curl -L https://github.com/romkatv/powerlevel10k-media/raw/master/MesloLGS%20NF%20Italic.ttf --output ~/.fonts/'MesloLGS NF Italic.ttf'
curl -L https://github.com/romkatv/powerlevel10k-media/raw/master/MesloLGS%20NF%20Bold%20Italic.ttf --output ~/.fonts/'MesloLGS NF Bold Italic.ttf'

# Install Antigen
curl -L git.io/antigen > ~/antigen.zsh
